/* 头部开始 */
.noline a{
    text-decoration: none !important
}
.title a{
    text-decoration: none !important;
    cursor: default;
}
body {
    background-color: #eaf6f2;
    position: relative;
}
#sider_active {
    margin-top: 1px;
    background-color: #f7f7f7;
    _margin-top: 0px;
    cursor: default;
}
#nav_active
{
    background-color: #287a61;
}
.header {
	position: relative;
    width: 100%;
    height: 110px;
    min-width: 960px;
    /*_width:960px;*/
    
    margin: 0 auto;
    overflow: hidden;
}
.header .h_bg {
	position: absolute;
	left: 0;
	top: 0;
    width: 100%;
    height: 100%;
}
.box_header {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
}
.header_img {
    width: 960px;
    margin: 0 auto;
    height: 100px;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    z-index: 99;
}
.header_img img {
    position: absolute;
    z-index: 99;
    opacity: 1;
}
#header_img_extend {
    top: 40px;
    right: 0
}
.nav--box {
    width: 100%;
    _position: relative;
    _top: -5px;
    margin: 0 auto;
    background-color: #31a07e;
    height: 40px;
    margin-bottom: 126px;
}
.nav {
    width: 960px;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
}
.nav li {
    float: left;
}
.nav li.extend {
    margin-left: 0px;
}
.nav li a {
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: "Microsoft Yahei";
    width: 96px;
    height: 40px;
    display: block;
     transition: all ease 1s;
    -moz-transition: all ease 1s;
    /* Firefox 4 */
    
    -webkit-transition: all ease 1s;
    /* Safari 和 Chrome */
    
    -o-transition: all ease 1s;
    /* Opera */
}
.nav li a:hover {
    text-decoration: none;
     background-color: #287a61;
}
.nav li:hover {
    background-color: #287a61;
}
/* 头部及其导航结束 */
/* 内容区开始 */

.bg {
    width: 100%;
    height: 450px;
    min-width: 960px;
    margin: 0 auto;
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 140px;
}
.bg img {
    width: 100%;
    height: 100%;
}
.content {
    width: 960px;
    margin: 0 auto;
    height: auto;
    margin-top: 126px;
    clear: both;
}
.content .side_nav {
    width: 216px;
    border: solid 1px #53c3a1;
    border-top: 4px solid #53c3a1;
    background-color: #f5fefb;
    height: auto;
    padding-bottom: 4px;
    float: left;
}
.side_nav li {
    height: 48px;
    line-height: 48px;
}
#slide_active {
    margin-top: 5px;
    background-color: #d7f0e8;
}
.side_nav li.first {
    height: 58px;
    line-height: 58px;
    font-size: 16px;
    text-align: center;
    font-family: "宋体";
}
.side_nav li.first a {
    color: #31a07e;
    font-size: 18px;
    height: 58px;
    font-size: 20px;
    line-height: 58px;
    _ font-size: 20px;
}
.side_nav li.end a {
    border-bottom: 0;
}
.side_nav li a {
    width: 202px;
    display: inline-block;
    height: 47px;
    border-bottom: solid 2px #d2f4ea;
    margin-left: 5px;
    text-align: center;
    color: black;
    font-family: "微软雅黑";
    font-size: 14px;
    _ font-size: 14px;
}
.side_nav li:hover {
    background-color: #ffffff;
}
.side_nav li a:hover {
    text-decoration: none;
}
.side_nav li.first:hover {
    background-color: #f5fefb;
}
.side_nav li.first a:hover {
    cursor: default;
    text-decoration: none;
}
/* 内容填充框 */

.content_big {
    width: 714px;
    padding-bottom: 2px;
    float: right;
    background-color: #fff;
    box-shadow: 2px -2px 20px #cad5d2;
    border: solid #cad5d2 1px;
    padding-bottom: 0px;
}
.content_big .title {
    height: 40px;
    background-color: #39a785;
    line-height: 40px;
}
.title_root {
    font-size: 18px;
    color: white;
    padding-left: 34px;
}
.title_nav {
    font-size: 12px;
    vertical-align: middle;
    padding-right: 8px;
    color: white;
}
.title_nav a {
    color: white;
}
.title_nav a:hover {
    text-decoration: underline;
}
/* 底部样式 */

.footer {
    min-width: 960px;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    background-color: #007a53;
    font-family: "Microsoft Yahei";
    clear: both;
    padding-top: 10px;
    margin-top: 30px;
}
.footer_content {
    width: 960px;
    margin: 0 auto;
    height: 60px;
    font-size: 12px;
    color: white;
    position: relative;
}
.footer_content .address {
    width: 276px;
    line-height: 2.0;
    position: absolute;
    left: 0px;
    top: 0px;
}
.footer_content .tele {
    width: 140px;
    line-height: 2.0;
    position: absolute;
    left: 320px;
    top: 0px;
}
.footer_content .small_link {
    width: 70px;
    position: absolute;
    right: 20px;
    top: 10px;
}
.footer_content .second_img {
    _position: relative;
    _top: -55px;
    *position: relative;
    *top: -25px;
}
