body {
	margin: 0;
	padding: 0;
	background: #EFF7FF;
	overflow-y:scroll;
	overflow-x:hidden;
	topmargin:0;
	leftmargin:0;
	/*FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffffff, EndColorStr=#ddeeff );*/
}
a{text-decoration: none;} 
a:link {color: #3E68BC;}
a:visited {color: #3E68BC;}
a:hover{COLOR: #AE0927; text-decoration:none}
a:active {color: #0000ff;}
.tableHead{
	margin:2px auto;
	border-collapse:collapse;border:none;
	cellspacing:0; 
	cellpadding:0;
	width:99%;
}
.tableHead td{
	border:solid #CACACA 1px;
	height:25px;
	font-size:13px;
}

.table_list{
	margin:1px auto;
	border-collapse:collapse;
	border:1px solid #CACACA;
	width:99%;
}
.Back_Td{
	font-size:12px;
	text-align: center;
	background-image:url(../imagesV1/Table_Title.jpg);
	height:25px;
	line-height:25px;
}
.table_list td{
	font-size:13px;
	border-bottom: #CACACA 1px solid;
	border-left: #CACACA 1px solid;
	border-right: #CACACA 1px solid;
	border-top: #CACACA 1px solid;
	height:25px;
	text-align:center;
}
.cx_Title{
	background-color: #e3f0fc;
}
.line{
	border:1px solid #CACACA;
	width:99%;
}
.toolbar{
	font-size:13px;
	border:0px;
}
input
{
	margin-left:1px;
	border-bottom: #CACACA 1px solid;
	border-left: #CACACA 1px solid;
	border-right: #CACACA 1px solid;
	border-top: #CACACA 1px solid;
	color: #666666;
	height: 20px;
	font-size: 12px;
	vertical-align:middle;
}
select
{
	margin-left:1px;
	font-size:9pt;
	height:20px;
	background-color:transparent;
	border-bottom: #CACACA 1px solid;
	border-left: #CACACA 1px solid;
	border-right: #CACACA 1px solid;
	border-top: #CACACA 1px solid;
}
textarea{
	font-size:9pt;
	background-color:#FFFFFF;
	border:1px solid #A4A9BD;
	vertical-align:middle;
	overflow:auto;
}