<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
    
<!-- 系统begin -->
   	<filter><filter-name>Set Character Encoding</filter-name><filter-class>filters.SetCharacterEncodingFilter</filter-class> </filter>
   	<filter-mapping><filter-name>Set Character Encoding</filter-name><url-pattern>/*</url-pattern></filter-mapping>

   	<servlet><servlet-name>UserMenu</servlet-name><servlet-class>sei.UserMenu</servlet-class></servlet>  
	<servlet-mapping><servlet-name>UserMenu</servlet-name><url-pattern>/UserMenu.do</url-pattern></servlet-mapping>

   	<servlet><servlet-name>LoginServlet</servlet-name><servlet-class>sei.security.Login_system</servlet-class></servlet>  
	<servlet-mapping><servlet-name>LoginServlet</servlet-name><url-pattern>/LoginServlet.do</url-pattern></servlet-mapping>

	<servlet><servlet-name>MainTreeServlet</servlet-name><servlet-class>sei.system.MainTreeServlet</servlet-class></servlet>  
	<servlet-mapping><servlet-name>MainTreeServlet</servlet-name><url-pattern>/MainTreeServlet.do</url-pattern></servlet-mapping>
	
	<servlet><servlet-name>TreeServlet</servlet-name><servlet-class>sei.system.TreeServlet</servlet-class></servlet>  
	<servlet-mapping><servlet-name>TreeServlet</servlet-name><url-pattern>/TreeServlet.do</url-pattern></servlet-mapping>

	<servlet><servlet-name>SaveForm</servlet-name><servlet-class>sei.core.SaveForm</servlet-class></servlet>  
	<servlet-mapping><servlet-name>SaveForm</servlet-name><url-pattern>/SaveForm.do</url-pattern></servlet-mapping>
	
	<servlet><servlet-name>ListData</servlet-name><servlet-class>sei.ListData</servlet-class></servlet>  
	<servlet-mapping><servlet-name>ListData</servlet-name><url-pattern>/ListData.do</url-pattern></servlet-mapping>
	
	<servlet><servlet-name>DelData</servlet-name><servlet-class>sei.DelData</servlet-class></servlet>  
	<servlet-mapping><servlet-name>DelData</servlet-name><url-pattern>/DelData.do</url-pattern></servlet-mapping>
			
	<servlet><servlet-name>IndexServlet</servlet-name><servlet-class>students.IndexServlet</servlet-class></servlet>  
	<servlet-mapping><servlet-name>IndexServlet</servlet-name><url-pattern>/IndexServlet.do</url-pattern></servlet-mapping>
	
	<listener><listener-class>sei.Launch</listener-class></listener>

	<filter><filter-name>AuthenFilter</filter-name><filter-class>sei.security.AuthenFilter</filter-class></filter>
	<filter-mapping><filter-name>AuthenFilter</filter-name><url-pattern>*.jsp</url-pattern></filter-mapping>

	<servlet><servlet-name>getPage</servlet-name><servlet-class>sei.core.getPage</servlet-class></servlet>  
	<servlet-mapping><servlet-name>getPage</servlet-name><url-pattern>/getPage.do</url-pattern></servlet-mapping>
	
	<servlet><servlet-name>getPageBase</servlet-name><servlet-class>sei.core.getPageBase</servlet-class></servlet>  
	<servlet-mapping><servlet-name>getPageBase</servlet-name><url-pattern>/getPageBase.do</url-pattern></servlet-mapping>
	
	<servlet><servlet-name>GetSelectBase</servlet-name><servlet-class>sei.core.GetSelectBase</servlet-class></servlet>  
	<servlet-mapping><servlet-name>GetSelectBase</servlet-name><url-pattern>/GetSelectBase.do</url-pattern></servlet-mapping>
	
	<servlet><servlet-name>GetSelectData</servlet-name><servlet-class>sei.core.GetSelectData</servlet-class></servlet>  
	<servlet-mapping><servlet-name>GetSelectData</servlet-name><url-pattern>/GetSelectData.do</url-pattern></servlet-mapping>

	<servlet><servlet-name>LoadData</servlet-name><servlet-class>sei.core.LoadData</servlet-class></servlet>  
	<servlet-mapping><servlet-name>LoadData</servlet-name><url-pattern>/LoadData.do</url-pattern></servlet-mapping>

	<servlet><servlet-name>getModelPrivilege</servlet-name><servlet-class>sei.core.getModelPrivilege</servlet-class></servlet>  
	<servlet-mapping><servlet-name>getModelPrivilege</servlet-name><url-pattern>/getModelPrivilege.do</url-pattern></servlet-mapping>	
<!-- 系统 end -->

    <welcome-file-list>
        <welcome-file>index.shtml</welcome-file>
    </welcome-file-list>


</web-app>
